html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #6b2aee;
  --secondary: #02e7d9;
  --light-grey: #e5e5e5;
  --dark-grey: #707070;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */
header {
  padding: 15px 0;
  box-shadow: 1px 0 15px rgba(98, 98, 98, 0.294);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-header {
  display: flex;
  align-items: center;
  gap: 30px;
}

.btn-contained {
  background-color: var(--primary);
  padding: 10px 35px;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
}

.btn-void {
  background-color: #fafafa;
  padding: 10px 35px;
  color: var(--primary);
  text-decoration: none;
  border-radius: 25px;
}

/* Footer */
footer {
  background-color: var(--primary);
  padding: 50px 0;
  /* position: fixed;
    bottom: 0;
    width: 100%; */
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 50px;
}

.footer-item {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
}

.footer-item ul {
  list-style: none;
  padding: 0;
}

.footer-item ul a {
  color: #fff;
  margin: 5px 0;
  display: inline-block;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-media i {
  color: var(--light-grey);
  font-size: 30px;
}

.social-media a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
  background-color: #581ecd;
  display: grid;
  place-items: center;
}

.social-media a:hover {
  transform: scale(1.07);
  transition: 0.4s;
}

/*formulario */

h1 {
  font-size: 2em;
  margin-bottom: 2rem;
  color: #581ecd;
  text-align: center;
}

.form {
  padding: 1rem;
  text-align: center;
  color: #000;
  background-color: #fff;
  border-radius: 1rem;
  left: 50%;
  top: 50%;
}

.containerForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 1.5rem;
}

input {
  width: 50%;
  padding: 0.5rem;
  border-radius: 10px;
}

.botao {
  margin: 1rem 0 2rem 0;
  padding: 0.8rem 3rem;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #6220b8;
  color: #fff;
}

.botao:hover {
  background-color: #808080;
  color: #fff;
}
